#resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
}

iframe {
    border-radius: 8px;
    width: 500px;
    height: 600px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
}