#intro-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  gap: 30px;
}

.portrait-picture-container {
  width: 500px;
  height: auto;
  overflow: hidden;
}

.portrait-picture {
  width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
}


.intro-text {
  text-align: center;
  max-width: 500px;
  color: var(--foreground_color1);
}

.intro-text h1 {
  font-size: 2em; 
  margin-bottom: 10px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 20px;
}

.social-buttons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-buttons img:hover {
  transform: scale(1.1);
}
