#intro-page {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.portrait {
  width: 50%;
  height: 100%;
}

.portrait-picture {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--foreground_color1);
}

.intro {
  width: 50%;
  height: 100%;
  color: var(--foreground_color1);
  display: flex;
  align-items: start;
}


.intro-text-container {
  width: 70%;
  text-align: left;
  margin-top: 35px;
}

.intro-text-hello {
  align-items: center;
  justify-content: center;
}

.intro-text-name {
  font-size: 2.5rem;
  font-weight: 700
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 20px;
}

.divider {
  height: 3.5rem; 
  width: 2px; 
  background-color: var(--foreground_color3);
  display: inline-block;
}

.social-buttons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-buttons img:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  #intro-page {
    flex-direction: column;
  }

  .portrait {
    width: 100%;
    height: auto;
  }

  .intro {
    width: 100%;
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text-container {
    text-align: left;
    margin-top: 35px;
  }
}