body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background_color1);
    text-align: center;
}

.App {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.App-header {
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100%;
    color: var(--foreground_color2);
    background-color: var(--background_color2);
}

.App-body {
    position: absolute;
    top: 10vh;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: var(--background_color1);
}