#navbar {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.page-title {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menus {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
}

.profile-photo {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
}

.title-text {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 100%;
    color: var(--foreground_color3);
}

.theme-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background_color3);
}

.profile-photo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.popup {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 120px;
    height: 220px;
    background-color: #929292;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    z-index: 1000;
}

.popup ul {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}

.popup li {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    text-wrap: wrap;
}

.popup li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #333;
}

.popup li:hover a {
    color: white;
}

.nav-menus>.inactiveTab, .nav-menus>.activeTab {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 20px);
    padding-right: 10px;
    padding-left: 10px;
}

#navbar li:hover {
    background-color: var(--background_color3);
}

#navbar .activeTab {
    background-color: var(--background_color1);
    height: 100%;
}

#navbar .inactiveTab:hover {
    background-color: var(--background_color3);
    border-radius: 5px;
}


@media (max-width: 768px) {
    .title-text {
        display: none;
    }
    
    .theme-button {
        width: 40px;
        height: 40px;
    }

    .page-title {
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-menus {
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-end;
    }

    .profile-photo {
        flex-shrink: 0;
        flex-grow: 0;
    }

    #navbar .inactiveTab, #navbar .activeTab {
        display: inline-block;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 20px);
        max-width: 4rem;
        font-size: 0.8rem;
        font-weight: bold;
        padding-right: 3px;
        padding-left: 3px;
    }

    #navbar li:hover {
        background-color: var(--background_color3);
    }

    #navbar .activeTab {
        background-color: var(--background_color1);
        height: 100%;
    }

    #navbar .inactiveTab:hover {
        background-color: var(--background_color3);
        border-radius: 5px;
    }
}